@{
    ViewData["Title"] = "Usernalysis";
}

<div id="entry">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="navbar-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
            <a class="navbar-link" href="#">Passive</a>
        </li>
    </ul>
    <div id="json-text-input">
        <textarea id="json-text" rows="4" cols="50"></textarea>
        <button id="json-text-input-submit">go</button>
    </div>
    <div id="json-file-upload">
        <input type="file" id="json-file" />
        <button id="json-file-upload-submit">go</button>
    </div>
</div>
<div id="chart-container">
    <div class="tab-bar">
        <button id="gender-chart-button" class="tab-button">Gender</button>
        <button id="initials-chart-button" class="tab-button">First Initial</button>
        <button id="age-range-chart-button" class="tab-button">Age Range</button>
    </div>
    <div id="chart-gender" class="chart">

    </div>
    <div id="chart-initials" class="chart">

    </div>
    <div id="chart-age-range" class="chart">

    </div>
</div>
<div id="map-container">
    <div id="map">

    </div>
</div>

@section Scripts{
    <script src="~/lib/highcharts.js"></script>
    <script type="text/javascript">
        var analysis;

        Highcharts.setOptions({
            plotOptions: {
                series: {
                    animation: false
                }
            },
            legend: {
                enabled: false
            }
        });

        $(document).ready(function () {
            initializeCharts();
            initializeInputs();
        });

        function initializeCharts() {
            $(".chart").hide();
            $(".chart").first().show();
            $(".tab-button").click( function(){
                var id = $(this).attr("id");
                switch (id) {
                    case "gender-chart-button":
                        $(".chart").hide();
                        $("#chart-gender").show();
                        break;
                    case "initials-chart-button":
                        $(".chart").hide();
                        $("#chart-initials").show();
                        break;
                    case "age-range-chart-button":
                        $(".chart").hide();
                        $("#chart-age-range").show();
                        break;
                    default:
                        break;
                }
            });
        }

        function initializeInputs() {
            var requestOptions = {
                url: "@Url.Action("Analyze","UserAnalysis")",
                type: 'POST',
                processData: false,
                dataType: 'json',
                success: function (response) {
                    analysis = response;
                    renderCharts();
                },
                error: function (err) {
                    alert('Error: ' + err.responseText);
                }
            };

            $("#json-text-input-submit").click(function () {
                requestOptions.contentType = 'application/json';
                requestOptions.data = $("#json-text").val();
                $.ajax(requestOptions);
            });
            $("#json-file-upload-submit").click(function () {
                var formData = new FormData();
                formData.append('file', $('#json-file')[0].files[0]);
                requestOptions.contentType = false;
                requestOptions.data = formData;
                requestOptions.enctype = 'multipart/form-data';
                $.ajax(requestOptions);
            });
        }

        function renderCharts() {
            var genderChart = Highcharts.chart('chart-gender', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Percentage Female versus Male'
                },
                xAxis: {
                    categories: ['Female', 'Male']
                },
                yAxis: {
                    title: {
                        text: '%'
                    }
                },
                series: [{
                    data: [analysis["gender-pct"]["female"], analysis["gender-pct"]["male"]]
                }]
            });

            var initialsChart = Highcharts.chart('chart-initials', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Percentage of Name Initials'
                },
                xAxis: {
                    categories: ['A-M', 'N-Z']
                },
                yAxis: {
                    title: {
                        text: '%'
                    }
                },
                legend: {
                    enabled: true
                },
                series: [{
                    name: "First Name",
                    data: [analysis["name-initial-pct"]["first-name"]["a-m"], analysis["name-initial-pct"]["first-name"]["n-z"]]
                }, {
                    name: "Last Name",
                    data: [analysis["name-initial-pct"]["last-name"]["a-m"], analysis["name-initial-pct"]["last-name"]["n-z"]]
                }]
            });

            var ageRangeChartOptions = {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Percentage of Age Range'
                },
                yAxis: {
                    title: {
                        text: '%'
                    }
                }
            };
            var categories = [];
            var data = [];
            $.each(analysis["age-ranges"], function (i, obj) {
                categories.push(obj["age"]);
                data.push(obj["pct"]);
            });
            ageRangeChartOptions.xAxis = {
                categories: categories
            };
            ageRangeChartOptions.series = [{
                data: data
            }];
            var ageRangeChart = Highcharts.chart('chart-age-range', ageRangeChartOptions);
        }
    </script>
}