@{
    ViewData["Title"] = "Usernalysis";
}

<div id="entry">
    <div id="json-text-input">
        <textarea id="json-text" rows="4" cols="50"></textarea>
        <button id="json-text-input-submit">go</button>
    </div>
    <div id="json-file-upload">
        <input type="file" id="json-file" />
        <button id="json-file-upload-submit">go</button>
    </div>
</div>
<div id="chart">

</div>
<div id="map">

</div>

@section Scripts{
    <script src="~/lib/highcharts.js"></script>
    <script type="text/javascript">
        var analysis;

        $(document).ready(function () {
            $("#json-text-input-submit").click(function () {
                alert($("#json-text").val());
            });
            $("#json-file-upload-submit").click(function () {
                var formData = new FormData();
                formData.append('file', $('#json-file')[0].files[0]);
                $.ajax({
                    url: "@Url.Action("Analyze","UserAnalysis")",
                    type: 'POST',
                    contentType: false,
                    data: formData,
                    processData: false,
                    dataType: 'json',
                    enctype: 'multipart/form-data',
                    success: function (response) {
                        analysis = response;
                        renderChart();
                    },
                    error: function (err) {
                        alert('Error: ' + err.responseText);
                    }
                });
            });
        });

        function renderChart() {
            var chart = Highcharts.chart('chart', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Percentage female versus male'
                },
                xAxis: {
                    categories: ['Female', 'Male']
                },
                yAxis: {
                    title: {
                        text: 'Fruit eaten'
                    }
                },
                series: [{
                    data: [analysis["gender-pct"]["female"], analysis["gender-pct"]["male"]]
                    //data: [Number(analysis["gender-pct"]["female"]), 49.6]
                }]
            });
        }
    </script>
}