@{
    ViewData["Title"] = "Usernalysis";
}

<div id="entry-container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a data-target="json-file-upload" class="navbar-link" href="#">Json File Upload</a>
        </li>
        <li class="nav-item">
            <a data-target="json-text-input" class="navbar-link" href="#">Json Text Input</a>
        </li>
    </ul>
    <div id="json-file-upload" class="json-input">
        <input type="file" id="json-file" />
        <button id="json-file-upload-submit">go</button>
    </div>
    <div id="json-text-input" class="json-input">
        <textarea id="json-text" rows="4" cols="50"></textarea>
        <button id="json-text-input-submit">go</button>
    </div>
</div>
<div id="chart-container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a data-target="chart-gender" class="navbar-link" href="#">Gender</a>
        </li>
        <li class="nav-item">
            <a data-target="chart-initials" class="navbar-link" href="#">Initials</a>
        </li>
        <li class="nav-item">
            <a data-target="chart-age-range" class="navbar-link" href="#">Age Range</a>
        </li>
    </ul>
    <div id="chart-gender" class="chart">

    </div>
    <div id="chart-initials" class="chart">

    </div>
    <div id="chart-age-range" class="chart">

    </div>
</div>
<div id="map-container">
    <div id="map">

    </div>
</div>

@section Scripts{
    <script src="~/lib/highcharts.js"></script>
    <script type="text/javascript">
        var analysis;

        Highcharts.setOptions({
            plotOptions: {
                series: {
                    animation: false
                }
            },
            legend: {
                enabled: false
            }
        });

        $(document).ready(function () {
            initializeInputs();
            initializeCharts();
        });

        function initializeInputs() {
            $(".json-input").hide();
            $(".json-input").first().show();
            $("#entry-container .nav-item").first().addClass("active");
            $("#entry-container .nav-item .navbar-link").click(function () {
                $("#entry-container .nav-item").removeClass("active");
                $(this).parent().addClass("active");
                $(".json-input").hide();
                var target = $("#" + $(this).attr("data-target"));
                $(target).show();
            });

            var requestOptions = {
                url: "@Url.Action("Analyze","UserAnalysis")",
                type: 'POST',
                processData: false,
                dataType: 'json',
                success: function (response) {
                    analysis = response;
                    renderCharts();
                },
                error: function (err) {
                    alert('Error: ' + err.responseText);
                }
            };

            $("#json-text-input-submit").click(function () {
                requestOptions.contentType = 'application/json';
                requestOptions.data = $("#json-text").val();
                $.ajax(requestOptions);
            });
            $("#json-file-upload-submit").click(function () {
                var formData = new FormData();
                formData.append('file', $('#json-file')[0].files[0]);
                requestOptions.contentType = false;
                requestOptions.data = formData;
                requestOptions.enctype = 'multipart/form-data';
                $.ajax(requestOptions);
            });
        }

        function initializeCharts() {
            $(".chart").hide();
            $(".chart").first().show();
            $("#chart-container .nav-item").first().addClass("active");
            $("#chart-container .nav-item .navbar-link").click(function () {
                $("#chart-container .nav-item").removeClass("active");
                $(this).parent().addClass("active");
                $(".chart").hide();
                var target = $("#" + $(this).attr("data-target"));
                $(target).show();
            });
            $("#chart-container").hide();
        }

        function renderCharts() {
            $("#chart-container").show();
            var genderChart = Highcharts.chart('chart-gender', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Percentage Female versus Male'
                },
                xAxis: {
                    categories: ['Female', 'Male']
                },
                yAxis: {
                    title: {
                        text: '%'
                    }
                },
                series: [{
                    data: [analysis["gender-pct"]["female"], analysis["gender-pct"]["male"]]
                }]
            });

            var initialsChart = Highcharts.chart('chart-initials', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Percentage of Name Initials'
                },
                xAxis: {
                    categories: ['A-M', 'N-Z']
                },
                yAxis: {
                    title: {
                        text: '%'
                    }
                },
                legend: {
                    enabled: true
                },
                series: [{
                    name: "First Name",
                    data: [analysis["name-initial-pct"]["first-name"]["a-m"], analysis["name-initial-pct"]["first-name"]["n-z"]]
                }, {
                    name: "Last Name",
                    data: [analysis["name-initial-pct"]["last-name"]["a-m"], analysis["name-initial-pct"]["last-name"]["n-z"]]
                }]
            });

            var ageRangeChartOptions = {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Percentage of Age Range'
                },
                yAxis: {
                    title: {
                        text: '%'
                    }
                }
            };
            var categories = [];
            var data = [];
            $.each(analysis["age-ranges"], function (i, obj) {
                categories.push(obj["age"]);
                data.push(obj["pct"]);
            });
            ageRangeChartOptions.xAxis = {
                categories: categories
            };
            ageRangeChartOptions.series = [{
                data: data
            }];
            var ageRangeChart = Highcharts.chart('chart-age-range', ageRangeChartOptions);
        }
    </script>
}